<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/banuandreicristian/Documents/Selenium_Projects/Selenium_Java/src/test/54.GenerateXMLReports/GenerateXMLReports.java">
        <classes/>
    </test>
</suite>